.que.essay textarea.qtype_essaynew_response {
    width: 100%;
}

.que.essay textarea.qtype_essaynew_response.qtype_essaynew_plain {
    white-space: pre-wrap;
    font: inherit;
}

.que.essay textarea.qtype_essaynew_response.qtype_essaynew_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.essay .qtype_essaynew_response {
    min-height: 3em;
}

.que.essay .qtype_essaynew_response.readonly {
    background-color: white;
}

.que.essay div.qtype_essaynew_response textarea {
    width: 100%;
}

.que.essay .ablock .filemanager .fp-restrictions {
    margin-top: 1em;
}
