.que.essayannotate textarea.qtype_essayannotate_response {
    width: 100%;
}

.que.essayannotate textarea.qtype_essayannotate_response.qtype_essayannotate_plain {
    white-space: pre-wrap;
    font: inherit;
}

.que.essayannotate textarea.qtype_essayannotate_response.qtype_essayannotate_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.essayannotate .qtype_essayannotate_response {
    min-height: 3em;
}

.que.essayannotate .qtype_essayannotate_response.readonly {
    background-color: white;
}

.que.essayannotate div.qtype_essayannotate_response textarea {
    width: 100%;
}

.que.essayannotate .ablock .filemanager .fp-restrictions {
    margin-top: 1em;
}
