<!-- 			Originally taken from Ravisha Hesh : https://github.com/RavishaHesh/PDFJsAnnotations/tree/master
    changes made by Tausif Iqbal and Vishal Rao
    (added return to all the onclick callback function
    and removed onclick function call from i tag and putted it outside) 
    changes made by Asha and Parvathy 
    (Background color of color-tool active changed to black)-->
    <div id="essayannotator-annotator" class="annotator">
    
    <div class="qtype_essayannotate_toolbar">
        <div class="tool">
            <span>{{ annotator_text }}</span>
        </div>
        <div class="tool">
            <label for=""> {{ font_size}} </label>
            <select id="font-size" class="form-control">
                {{# font_sizes }}
                    <option value="{{ value }}" {{# selected }}selected{{/ selected }}>{{ value }}</option>
                {{/ font_sizes }}
            </select>
        </div>
        <div class="tool">
            {{# color_tools }}
                <button class="color-tool{{# active }} active{{/ active }}" style="background-color: {{ color }};"></button>
            {{/ color_tools }}
        </div>
        
        {{# other_tools }}
            <div class="tool">
                    <button id={{ other_tools_id }} class="tool-button{{# selected }} active{{/ selected }}" ><i class="{{ icon_class }}" title="{{ tooltip }}"></i></button>
            </div>
        {{/ other_tools }}
        {{# other_tools_extra }}
            <div class="tool">
                    <button id={{ other_tools_extra_id }} class="btn btn-{{# select_danger }}danger{{/ select_danger }}{{# select_light }}light{{/ select_light }} btn-sm" ><i class="{{ icon_class }}"></i>{{# select_savenexit }} {{ save_exit }}{{/ select_savenexit }}</button>
            </div>
        {{/ other_tools_extra }}
    </div>
    <div class="qtype_essayannotate_pdf_container" id="pdf-container">
    </div>
    <div class="qtype_essayannotate_messagebox hidden" id="message-box-saved"><p>{{ file_saved_message_text }}</p></div>
    <div class="qtype_essayannotate_messagebox hidden" id="message-box-not-saved"><p>{{ file_not_saved_message_text }}</p></div>
</div>