<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ bootstrap_css_url }}">
    <link rel="stylesheet" href="{{ font_awesome_css_url }}">
    <link rel="stylesheet" href="{{ prettify_css_url }}">
    <link rel="stylesheet" href="{{ custom_css_url }}">
    <link rel="stylesheet" href="{{ pdfannotate_css_url }}">
</head>
<body>
    <div class="toolbar">
        <div class="tool">
            <span>{{ annotator_text }}</span>
        </div>
        <div class="tool">
            <label for="">Font size</label>
            <select id="font-size" class="form-control">
                {{# font_sizes }}
                    <option value="{{ value }}" {{# selected }}selected{{/ selected }}>{{ value }}</option>
                {{/ font_sizes }}
            </select>
        </div>
        <div class="tool">
            {{# color_tools }}
                <button class="color-tool{{# active }} active{{/ active }}" style="background-color: {{ color }};"></button>
            {{/ color_tools }}
        </div>
        
        {{# other_tools }}
            <div class="tool">
                    <button {{# id_select }}id="select" {{/ id_select }}class="tool-button{{# selected }} active{{/ selected }}" onclick="{{ onclick_action }}"><i class="{{ icon_class }}" title="{{ tooltip }}"></i></button>
            </div>
        {{/ other_tools }}
        {{# other_tools_extra }}
            <div class="tool">
                    <button class="btn btn-{{# select_danger }}danger{{/ select_danger }}{{# select_light }}light{{/ select_light }} btn-sm" onclick="{{ onclick_action }}"><i class="{{ icon_class }}"></i>{{# select_savenexit }} Save and Exit{{/ select_savenexit }}</button>
            </div>
        {{/ other_tools_extra }}
    </div>
    <div id="pdf-container"></div>

    <script src="{{ jquery_js_url }}"></script>
    <script src="{{ popper_js_url }}" integrity="{{popper_integrity}}" crossorigin="{{popper_crossorigin}}"></script>
    <script src="{{ bootstrap_js_url }}" integrity="{{bootstrap_integrity}}" crossorigin="{{bootstrap_crossorigin}}"></script>
    <script src="{{ pdf_js_url }}"></script>
    <script>pdfjsLib.GlobalWorkerOptions.workerSrc = '{{ pdf_worker_js_url }}';</script>
    <script src="{{ fabric_js_url }}"></script>
    <script src="{{ jspdf_js_url }}"></script>
    <script src="{{ prettify_js_url }}"></script>
    <script src="{{ pdfannotate_js_url }}"></script>
    <!--<script src="{{ clickhandlers_js_url }}"></script>-->

    <script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-36251023-1']);
		_gaq.push(['_setDomainName', 'jqueryscript.net']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</body>
</html>
